.myc-container {
	min-width: 300px;
}
.myc-conversation-bubble {
	margin-bottom: 10px;
	padding: 6px 9px;
	display: inline-block;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.myc-conversation-response {
	background-color: #E8E8E8;
	color: #323232;
} 
.myc-conversation-request {
	background-color: #1f4c73;
	color: #fff;
}
#myc-input-area {
	clear: both;
	display: block;
}
#myc-speech {
	max-width: 100%;
	min-width: 300px;
	
}

.myc-debug {
	margin-top: 10px;
}